
body{
font-family: Georgia, 'Times New Roman', Times, serif;
}

u {
    line-height: 1.8em;
    background-color: lemonchiffon;
    color: darkred;
    font-size: 1em;
    text-decoration: none;
}

i {
    line-height: 1.2em;
    color:gray;
    font-size: 0.7em;
    text-decoration: none;
}

/* top | right | bottom | left */
.checkbox-ayaats  {
    margin: 0.5em 0.5em 0.5em 0.3em;
}

.checkbox-notes {
    margin: 0.5em 0.5em 0.5em 1em;
}

.checkbox-topics{
    margin: 0.5em 0.5em 0.5em 1em;
}

.checkbox-intro {
    margin: 0.5em 0.5em 0.5em 1em;
}

.surah-introduction{
    display: none;
}

.ruku-title {
    padding-top: 0.5em;
    padding-left: 1em;
    height: 2em;
    font-weight: bold;
    background-color: darkolivegreen;
    color: white;
    margin-bottom: 0.8em;
    margin-top: 0.5em;

}

.topic-title {
    padding-top: 0.5em;
}


.title {
    font-family: 'UthmanTahaNaskh';
    direction: rtl;
    font-size: 1.8em;
    font-weight: bold;
    color: brown;
    text-align: center;
    background-color: blanchedalmond;
}

.ayatCount {
    font-family: "Traditional Arabic","Times New Roman";
    font-size: 0.6em;
}

.rukuCount {
    font-family: "Traditional Arabic","Times New Roman";
    font-size: 0.6em;
    margin-right: 1em;
}

.ara-description {
    font-family: 'UthmanTahaNaskh';
    line-height: 1.6em;
    font-size: 1.4em;
    direction: rtl;
    text-align: justify;
    font-stretch: expanded;
}

.bismillah {
    font-family: 'UthmanTahaNaskh';
    line-height: 1.4em;
    font-size: 1.4em;
    direction: rtl;
    text-align: center;
    font-stretch: expanded;
    padding-bottom: 1em;
    padding-top: 0.6em;
}

.kalimah-wrapper {

    direction: rtl;
    text-align: justify;
    padding-top: 0.3em;
    font-family: 'UthmanicHafsV12';
    font-weight: 500;
    line-height: 1.8em;
    font-size: 1.4em;
    font-stretch: expanded;    
    margin-top: 0.5em;
    padding-bottom: 1em;
    border-bottom: 0.05em dotted  darkgrey;
}

.kalimah-wrapper .kalimah {
color:navy;
font-weight: bold;
}

.kalimah-wrapper .meaning {
    color: black
    }
    

.aya-wrapper a {

    color: red;
    text-decoration: none;
}

.ayaNumber {
    font-family: "Traditional Arabic","Times New Roman";
    font-size : 0.7em;
    color: lightgrey;
}

.ayaNumber a {
    text-decoration: none;
    color: gray;
    font-size : 0.7em
}

.notes-text {
    font-family: Georgia;
    line-height: 1.2em;
    font-size: 1em;
    color: rgb(97, 97, 97);
    direction: ltr;
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.05em dotted darkgrey;
}

.eng-description {
    font-family: Georgia;
    line-height: 1.2em;
    font-size: 1em;
    color: rgb(92, 92, 92);
    direction: ltr;
    text-align: justify;
    margin-top: 0.5em;
    padding-bottom: 1em;
    border-bottom: 0.05em solid darkgrey;
}

.media-source {
    font-size: 0.7em;
    line-height: 0.9em;
}

